service: status-app-backend
useDotenv: true,
frameworkVersion: "4"
provider:
  name: aws
  runtime: nodejs18.x
  region: ap-south-1
  environment:
    MONGO_URI: ${env:MONGO_URI}
    FIREBASE_PROJECT_ID: ${env:FIREBASE_PROJECT_ID}

functions:
  api:
    handler: handler.handler
    events:
      - httpApi: "*"
  register:
    handler: src/handlers/auth.register
    events:
      - http:
          path: auth/register
          method: post
          cors: true
  testPage:
    handler: src/handlers/testPage.test
    events:
      - http:
          path: test
          method: get

plugins:
  - serverless-offline
